@font-face {
    font-family: minecraft;
    src: url("fonts/minecraftfont.woff");
}

html, body {
    overflow: hidden;
    font-family: minecraft;
    background-image: url("images/background2.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    height: 100%;
}

.wrapper {
    margin: 0 auto;
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
}

header {
    display: block;
    text-align: center;
}

header p {
    font-size: 25px;
}

.status {
    display: inline-block;
    overflow: hidden;
    width: 500px;
    height: 550px;
    margin-top: 50px;
    transform: translateX(-45px);
}

.server {
    background-image: url("images/void.png");
    display: inline-block;
    border: 4px solid white;
    align-items: center;
    overflow: hidden;
    width: 420px;
    height: 100%;
    transform: translate(10px, -25px);
}

.news {
    border-bottom: 3px solid white;
    color: white;
    text-align: left;
}

.link {
    text-align: center;
    margin-bottom: 15px;
}

a {
    color: aqua;
}

.news ul {
    list-style-type: square;
}


.map img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.status ul {
    list-style-type: none;
}

.player-status {
    justify-content: center;
    background-image: url('images/void.png');
    border: 4px white solid;
    overflow: hidden;
    width: 90%;
    padding: 10px;
}

.player-status li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.player-status img {
    margin-right: 15px;
    padding: 5px;
}

footer {
    text-align: center;
    color: white;
}

@media (max-width: 1200px) {

    body {
        overflow: scroll;
    }

    .wrapper {
        display: block;
        margin: 0 auto;
    }

    .status {
        display: block;
        margin: 0 auto;
        transform: translateY(0);
        transform: translateX(0);
        width: 100%;
        height: 500px;
    }

    .player-status {
        margin: 0 auto;
    }

    .server {
        display: block;
        margin: 0 auto;
        width: 92%;
        transform: translateY(0);
        transform: translateX(0);
        height: 100%;
        margin-bottom: 10px;
    }
}
